.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-icon {
    padding: 2px 11px;
    font-size: xx-large;
    font-weight: bolder;
    display: block;
  }
  
  .store-name{
    font-family: 'Neucha', cursive;
    padding: 17px 0px 0px 175px;
    font-size: 42px;
    letter-spacing: 8px;
    width: 600px;
    color: #d8904e;
    text-shadow: 1px -1px 0 #bc323e;
  }

  .nav-links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family:'Courier New', Courier, monospace;
    font-style: bold;
    

    .nav-link-contact{
      padding: 33px 25px;
      cursor: pointer;
      margin-top: 38px;

    }

    .nav-link-signIn {
      padding: 33px 25px;
      cursor: pointer;
      margin-top: 38px;

    }
    .nav-link-shoppingbag {
      padding: 33px 25px;
      cursor: pointer;
      margin-top: 38px;

    }
  }
}
